<div class="container-xxl">
    <div class="row my-3">
        <div class="col-12">
            <div class="">
                <div class="card-body">
                    <div class="row g-2 align-items-end justify-content-end">
                        <div class="col-auto">
                            <a class="btn btn-primary shadow-sm" (click)="openAddModal()" data-bs-toggle="modal"
                                data-bs-target="#station-modal">
                                Ajouter
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Liste des stations</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th>Type</th>
                                    <th>Nom</th>
                                    <th>Status</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let station of stations">
                                    <td>
                                        <p class="d-inline-block align-middle mb-0">
                                            <span class="d-block align-middle mb-0 product-name text-body">
                                                {{ station.type }}
                                            </span>
                                        </p>
                                    </td>
                                    <td> {{ station.name }} </td>
                                    <td>
                                        <span *ngIf="station.status === 'available'"
                                            class="badge bg-success-subtle text-success">
                                            <i class="fas fa-check me-1"></i> Disponible
                                        </span>
                                        <span *ngIf="station.status === 'in_use'"
                                            class="badge bg-warning-subtle text-warning">
                                            <i class="fas fa-hourglass-half me-1"></i> En cours d'utilisation
                                        </span>
                                        <span *ngIf="station.status === 'maintenance'"
                                            class="badge bg-danger-subtle text-danger">
                                            <i class="fas fa-tools me-1"></i> En maintenance
                                        </span>
                                    </td>
                                    <td class="text-end">
                                        <button class="btn btn-sm btn-info px-2 mx-2 d-inline-flex align-items-center"
                                            (click)="openEditModal(station)" data-bs-toggle="modal"
                                            data-bs-target="#station-modal"><i
                                                class="las la-pen text-white fs-14 me-1"></i>Modifier</button>
                                        <button
                                            class="btn btn-sm btn-outline-danger px-2 d-inline-flex align-items-center"><i
                                                class="las la-trash-alt text-danger fs-14 me-1"></i>Supprimer</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
</div>


<div class="modal fade" id="station-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="station-modal">Configurer un tarif</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="stationForm" (ngSubmit)="submitForm()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="nom" class="form-label">Tarif</label>
                                <input type="text" class="form-control" id="nom" placeholder="Nom de la station"
                                    formControlName="name">
                            </div>
                            <div class="mb-3">
                                <label for="station-type" class="form-label">Type de station</label>
                                <select class="form-select" id="station-type" formControlName="type">
                                    <option selected value="">Choisir le type de station</option>
                                    <option value="console">Console</option>
                                    <option value="PC">PC</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary btn-sm" [disabled]="isLoading || stationForm.invalid">
                        <ng-container *ngIf="!isLoading; else loadingTpl">Enregistrer</ng-container>
                        <ng-template #loadingTpl>
                            <span class="spinner-border spinner-border-sm" role="status"></span>
                            <span class="ms-2">En cours...</span>
                        </ng-template>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>