<div class="container-xxl">
    <div class="row">
        <div class="col-md-12 col-lg-5">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Customers Data</h4>
                        </div><!--end col-->
                        <div class="col-auto">
                            <div class="dropdown">
                                <a href="#" class="btn bt btn-light dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="icofont-calendar fs-5 me-1"></i> This Year<i
                                        class="las la-angle-down ms-1"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Today</a>
                                    <a class="dropdown-item" href="#">Last Week</a>
                                    <a class="dropdown-item" href="#">Last Month</a>
                                    <a class="dropdown-item" href="#">This Year</a>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div> <!--end row-->
                </div><!--end card-header-->
                <div class="card-body pt-0">
                    <div class="row g-3">
                        <div class="col-md-6 col-lg-6">
                            <div class="card shadow-none border mb-3 mb-lg-0">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col text-center">
                                            <span class="fs-18 fw-semibold">38,321</span>
                                            <h6 class="text-uppercase text-muted mt-2 m-0">Total Customers
                                            </h6>
                                        </div><!--end col-->
                                    </div> <!-- end row -->
                                </div><!--end card-body-->
                            </div> <!--end card-body-->
                        </div><!--end col-->
                        <div class="col-md-6 col-lg-6">
                            <div class="card shadow-none border mb-3 mb-lg-0">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col text-center">
                                            <span class="fs-18 fw-semibold">946</span>
                                            <h6 class="text-uppercase text-muted mt-2 m-0">New Customers
                                            </h6>
                                        </div><!--end col-->
                                    </div> <!-- end row -->
                                </div><!--end card-body-->
                            </div> <!--end card-body-->
                        </div><!--end col-->

                        <div class="col-md-6 col-lg-6">
                            <div class="card shadow-none border mb-3 mb-lg-0">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col text-center">
                                            <span class="fs-18 fw-semibold">70.8%</span>
                                            <h6 class="text-uppercase text-muted mt-2 m-0">Returning
                                                Customers</h6>
                                        </div><!--end col-->
                                    </div> <!-- end row -->
                                </div><!--end card-body-->
                            </div> <!--end card-->
                        </div><!--end col-->
                        <div class="col-md-6 col-lg-6">
                            <div class="card shadow-none border mb-3 mb-lg-0">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col text-center">
                                            <span class="fs-18 fw-semibold">1.5%</span>
                                            <h6 class="text-uppercase text-muted mt-2 m-0">Bounce Rate</h6>
                                        </div><!--end col-->
                                    </div> <!-- end row -->
                                </div><!--end card-body-->
                            </div> <!--end card-body-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!--end col-->
        <div class="col-md-12 col-lg-7">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Customers Growth</h4>
                        </div><!--end col-->
                        <div class="col-auto">
                            <div class="dropdown">
                                <a href="#" class="btn bt btn-light dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="icofont-calendar fs-5 me-1"></i> This Year<i
                                        class="las la-angle-down ms-1"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Today</a>
                                    <a class="dropdown-item" href="#">Last Week</a>
                                    <a class="dropdown-item" href="#">Last Month</a>
                                    <a class="dropdown-item" href="#">This Year</a>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div> <!--end row-->
                </div><!--end card-header-->
                <div class="card-body pt-0">
                    <div id="customers-line" class="apex-charts"></div>
                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!--end col-->
    </div><!--end row-->
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Audience Overview</h4>
                        </div>
                        <!--end col-->
                        <div class="col-auto">
                            <div class="dropdown">
                                <a href="#" class="btn bt btn-light dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="icofont-calendar fs-5 me-1"></i>
                                    This Year<i class="las la-angle-down ms-1"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Today</a>
                                    <a class="dropdown-item" href="#">Last Week</a>
                                    <a class="dropdown-item" href="#">Last Month</a>
                                    <a class="dropdown-item" href="#">This Year</a>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end card-header-->
                <div class="card-body pt-0">
                    <div id="audience_overview" class="apex-charts"></div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <p class="text-dark mb-0 fw-semibold fs-14">New Visitors</p>
                            <h2 class="mt-0 mb-0 fw-bold">1,282</h2>
                        </div>
                        <!--end col-->
                        <div class="col-auto align-self-center">
                            <div class="img-group d-flex">
                                <a class="user-avatar position-relative d-inline-block" href="#">
                                    <img src="assets/images/users/avatar-1.jpg" alt="avatar"
                                        class="thumb-md shadow-sm rounded-circle">
                                </a>
                                <a class="user-avatar position-relative d-inline-block ms-n2" href="#">
                                    <img src="assets/images/users/avatar-2.jpg" alt="avatar"
                                        class="thumb-md shadow-sm rounded-circle">
                                </a>
                                <a class="user-avatar position-relative d-inline-block ms-n2" href="#">
                                    <img src="assets/images/users/avatar-4.jpg" alt="avatar"
                                        class="thumb-md shadow-sm rounded-circle">
                                </a>
                                <a class="user-avatar position-relative d-inline-block ms-n2" href="#">
                                    <img src="assets/images/users/avatar-3.jpg" alt="avatar"
                                        class="thumb-md shadow-sm rounded-circle">
                                </a>
                                <a href class="user-avatar position-relative d-inline-block ms-1">
                                    <span
                                        class="thumb-md shadow-sm justify-content-center d-flex align-items-center bg-info-subtle rounded-circle fw-semibold fs-6">+6</span>
                                </a>
                            </div>
                            <small class="text-muted">Logined
                                Visitors</small>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                    <div id="visitors_report" class="apex-charts mb-2"></div>
                    <button type="button" class="btn btn-primary w-100 btn-lg fs-14">More
                        Detail <i class="fa-solid fa-arrow-right-long"></i>
                    </button>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->
</div>